.nav {
  grid-column: 1 / 2;

  &-list {
    @include flexPosition;

    height: 100%;

    &-item {
      list-style: none;
    }
  }

  &-link {
    text-decoration: none;
    font-size: size(md);
    color: lighten($color: color(primary), $amount: 10%);

    transition: font-size 0.2s;

    @include response(lg) {
      font-size: size(sm);
    }

    &:hover {
      color: darken($color: color(primary), $amount: 10%);
    }
  }
}
